<div id="article-share-box" class="article-share-box">
  <div id="bdshare" class="bdsharebuttonbox artical-share-links">
    <a class="article-share-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
    <a class="article-share-weixin" data-cmd="weixin" title="分享到微信"></a>
    <a class="article-share-douban" data-cmd="douban" title="分享到豆瓣网"></a>
    <a class="article-share-qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    <a class="article-share-youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
    <a class="article-share-bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
    <a class="article-share-mail" data-cmd="mail" title="分享到邮件分享"></a>
    <a class="article-share-more" data-cmd="more" title="更多">
  </div>
</div>
<script>window._bd_share_config={"common":{},"share":{"bdCustomStyle":"nocss.css"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>