#header
  text-shadow 0 0 1px #fff
  margin 50px auto
  a
    color #999
    &:hover
      color color-link
      text-decoration none
    
  h1
    font-weight normal
    font-size 3.5em
    line-height 1

  h2
    font-weight normal
    font-size 1.2em
    line-height 1
    margin-top 10px
  
  #main-nav
    font-family Georgia, 'Times New Roman', Times, 'Songti SC', SimSun, serif
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px
		
.social
  li
    a
      -webkit-border-radius 50%
      -moz-border-radius 50%
      -ms-border-radius 50%
      -o-border-radius 50%
      border-radius 50%
      display -moz-inline-stack
      display inline-block
      vertical-align middle
      zoom 1
      text-indent -9999px
      margin 0 15px 15px 0
      opacity 0.5
      width 28px
      height 28px
      -webkit-transition 0.3s
      -moz-transition 0.3s
      -o-transition 0.3s
      transition 0.3s
      &:hover
        opacity 1
      &:last-of-type
        margin-right 0px

.weibo
  background url('/imgs/weibo.png') center no-repeat #d52b2a
  border 1px solid #d52b2a

.google
  background url('/imgs/google.png') center no-repeat #c83d20
  border 1px solid #c83d20

.github
  background url('/imgs/github.png') center no-repeat #afb6ca
  border 1px solid #afb6ca

.rss
  background url('/imgs/rss.png') center no-repeat #ef7522
  border 1px solid #ef7522

.twitter
  background url('/imgs/twitter.png') center no-repeat #55ACEE
  border 1px solid #55ACEE

.stackoverflow
  background url('/imgs/stackoverflow.png') center no-repeat #222222
  border 1px solid #222222